snippet vdd
	var_dump(${1:});die(${2:__LINE__.':'.__FILE__});${3}
snippet prd
	print_r(${1:});die(${2:__LINE__.':'.__FILE__});${3}
snippet preprd
	echo '<pre>';print_r(${1:});echo '</pre>';die(${2:__LINE__.':'.__FILE__});${3}
