snippet vdd
var_dump($${1:});die(${2:__LINE__.':'.__FILE__});${3}
endsnippet

snippet vddx
var_dump('x');die(${1:__LINE__.':'.__FILE__});${2}
endsnippet

snippet prd
print_r($${1:});die(${2:__LINE__.':'.__FILE__});${3}
endsnippet

snippet preprd
echo '<pre>';print_r($${1:});echo '</pre>';die(${2:__LINE__.':'.__FILE__});${3}
endsnippet
